USE [ZeleznickaStanica]
GO
ALTER TABLE [dbo].[Rezervacija] DROP CONSTRAINT [FK_Rezervacija_Korisnik]
GO
ALTER TABLE [dbo].[RedVoznje] DROP CONSTRAINT [FK_RedVoznje_Voz]
GO
ALTER TABLE [dbo].[RedVoznje] DROP CONSTRAINT [FK_RedVoznje_Stanica2]
GO
ALTER TABLE [dbo].[RedVoznje] DROP CONSTRAINT [FK_RedVoznje_Stanica]
GO
ALTER TABLE [dbo].[Korisnik] DROP CONSTRAINT [FK_Korisnik_Stanica]
GO
ALTER TABLE [dbo].[DodatnaStanica] DROP CONSTRAINT [FK_DodatnaStanica_Stanica]
GO
ALTER TABLE [dbo].[DodatnaStanica] DROP CONSTRAINT [FK_DodatnaStanica_RedVoznje]
GO
/****** Object:  Table [dbo].[Voz]    Script Date: 10.7.2023. 03:42:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Voz]') AND type in (N'U'))
DROP TABLE [dbo].[Voz]
GO
/****** Object:  Table [dbo].[Stanica]    Script Date: 10.7.2023. 03:42:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Stanica]') AND type in (N'U'))
DROP TABLE [dbo].[Stanica]
GO
/****** Object:  Table [dbo].[Rezervacija]    Script Date: 10.7.2023. 03:42:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rezervacija]') AND type in (N'U'))
DROP TABLE [dbo].[Rezervacija]
GO
/****** Object:  Table [dbo].[RedVoznje]    Script Date: 10.7.2023. 03:42:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RedVoznje]') AND type in (N'U'))
DROP TABLE [dbo].[RedVoznje]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 10.7.2023. 03:42:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Korisnik]') AND type in (N'U'))
DROP TABLE [dbo].[Korisnik]
GO
/****** Object:  Table [dbo].[DodatnaStanica]    Script Date: 10.7.2023. 03:42:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DodatnaStanica]') AND type in (N'U'))
DROP TABLE [dbo].[DodatnaStanica]
GO
USE [master]
GO
/****** Object:  Database [ZeleznickaStanica]    Script Date: 10.7.2023. 03:42:06 ******/
DROP DATABASE [ZeleznickaStanica]
GO
/****** Object:  Database [ZeleznickaStanica]    Script Date: 10.7.2023. 03:42:06 ******/
CREATE DATABASE [ZeleznickaStanica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZeleznickaStanica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ZeleznickaStanica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZeleznickaStanica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ZeleznickaStanica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZeleznickaStanica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZeleznickaStanica]
GO
/****** Object:  Table [dbo].[DodatnaStanica]    Script Date: 10.7.2023. 03:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DodatnaStanica](
	[DodatnaStanicaID] [int] IDENTITY(1,1) NOT NULL,
	[RedVoznjeID] [int] NOT NULL,
	[StanicaID] [int] NOT NULL,
	[VremeDolaska] [time](7) NOT NULL,
	[VremePolaska] [time](7) NOT NULL,
 CONSTRAINT [PK_DodatnaStanica] PRIMARY KEY CLUSTERED 
(
	[DodatnaStanicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 10.7.2023. 03:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[KorisnikID] [int] IDENTITY(1,1) NOT NULL,
	[StanicaID] [int] NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Sifra] [varchar](50) NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RedVoznje]    Script Date: 10.7.2023. 03:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedVoznje](
	[RedVoznjeID] [int] IDENTITY(1,1) NOT NULL,
	[VozID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Vreme] [time](7) NOT NULL,
	[Peron] [int] NOT NULL,
	[Kasni] [bit] NOT NULL,
	[PolazakID] [int] NOT NULL,
	[OdredisteID] [int] NOT NULL,
	[Cena] [int] NULL,
	[Otkazan] [bit] NULL,
 CONSTRAINT [PK_RedVoznje] PRIMARY KEY CLUSTERED 
(
	[RedVoznjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervacija]    Script Date: 10.7.2023. 03:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervacija](
	[RezervacijaID] [int] IDENTITY(1,1) NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[RedVoznjeID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Vreme] [time](7) NOT NULL,
 CONSTRAINT [PK_Rezervacija] PRIMARY KEY CLUSTERED 
(
	[RezervacijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stanica]    Script Date: 10.7.2023. 03:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stanica](
	[StanicaID] [int] IDENTITY(1,1) NOT NULL,
	[Zemlja] [varchar](50) NOT NULL,
	[Grad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Stanica] PRIMARY KEY CLUSTERED 
(
	[StanicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voz]    Script Date: 10.7.2023. 03:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voz](
	[VozID] [int] IDENTITY(1,1) NOT NULL,
	[BrojMesta] [int] NOT NULL,
	[BrojSlobodnihMesta] [int] NOT NULL,
 CONSTRAINT [PK_Voz] PRIMARY KEY CLUSTERED 
(
	[VozID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DodatnaStanica] ON 

INSERT [dbo].[DodatnaStanica] ([DodatnaStanicaID], [RedVoznjeID], [StanicaID], [VremeDolaska], [VremePolaska]) VALUES (3, 1, 5, CAST(N'19:40:00' AS Time), CAST(N'19:45:00' AS Time))
INSERT [dbo].[DodatnaStanica] ([DodatnaStanicaID], [RedVoznjeID], [StanicaID], [VremeDolaska], [VremePolaska]) VALUES (4, 1, 6, CAST(N'20:30:00' AS Time), CAST(N'20:35:00' AS Time))
INSERT [dbo].[DodatnaStanica] ([DodatnaStanicaID], [RedVoznjeID], [StanicaID], [VremeDolaska], [VremePolaska]) VALUES (7, 3, 3, CAST(N'20:00:00' AS Time), CAST(N'20:05:00' AS Time))
SET IDENTITY_INSERT [dbo].[DodatnaStanica] OFF
GO
SET IDENTITY_INSERT [dbo].[Korisnik] ON 

INSERT [dbo].[Korisnik] ([KorisnikID], [StanicaID], [Ime], [Prezime], [Email], [Sifra], [Status]) VALUES (1, 1, N'Nemanja', N'Cvetic', N'cvetic@gmail.com', N'123', N'admin')
INSERT [dbo].[Korisnik] ([KorisnikID], [StanicaID], [Ime], [Prezime], [Email], [Sifra], [Status]) VALUES (2, 3, N'Marko', N'Markovic', N'marko@gmail.com', N'456', N'radnik')
INSERT [dbo].[Korisnik] ([KorisnikID], [StanicaID], [Ime], [Prezime], [Email], [Sifra], [Status]) VALUES (3, 4, N'Petar', N'Peric', N'petar@gmail.com', N'789', N'radnik')
SET IDENTITY_INSERT [dbo].[Korisnik] OFF
GO
SET IDENTITY_INSERT [dbo].[RedVoznje] ON 

INSERT [dbo].[RedVoznje] ([RedVoznjeID], [VozID], [Datum], [Vreme], [Peron], [Kasni], [PolazakID], [OdredisteID], [Cena], [Otkazan]) VALUES (1, 2, CAST(N'2023-03-26' AS Date), CAST(N'18:00:00' AS Time), 3, 1, 1, 3, 250, 0)
INSERT [dbo].[RedVoznje] ([RedVoznjeID], [VozID], [Datum], [Vreme], [Peron], [Kasni], [PolazakID], [OdredisteID], [Cena], [Otkazan]) VALUES (3, 4, CAST(N'2023-05-28' AS Date), CAST(N'15:00:00' AS Time), 8, 0, 4, 3, 500, 0)
INSERT [dbo].[RedVoznje] ([RedVoznjeID], [VozID], [Datum], [Vreme], [Peron], [Kasni], [PolazakID], [OdredisteID], [Cena], [Otkazan]) VALUES (4, 2, CAST(N'2023-03-27' AS Date), CAST(N'19:00:00' AS Time), 3, 0, 1, 3, 300, 0)
SET IDENTITY_INSERT [dbo].[RedVoznje] OFF
GO
SET IDENTITY_INSERT [dbo].[Rezervacija] ON 

INSERT [dbo].[Rezervacija] ([RezervacijaID], [KorisnikID], [RedVoznjeID], [Datum], [Vreme]) VALUES (18, 8, 3, CAST(N'2023-07-10' AS Date), CAST(N'01:47:21.6966156' AS Time))
INSERT [dbo].[Rezervacija] ([RezervacijaID], [KorisnikID], [RedVoznjeID], [Datum], [Vreme]) VALUES (19, 8, 7, CAST(N'2023-07-10' AS Date), CAST(N'01:54:20.9336398' AS Time))
SET IDENTITY_INSERT [dbo].[Rezervacija] OFF
GO
SET IDENTITY_INSERT [dbo].[Stanica] ON 

INSERT [dbo].[Stanica] ([StanicaID], [Zemlja], [Grad]) VALUES (1, N'Srbija', N'Kraljevo')
INSERT [dbo].[Stanica] ([StanicaID], [Zemlja], [Grad]) VALUES (3, N'Srbija', N'Beograd')
INSERT [dbo].[Stanica] ([StanicaID], [Zemlja], [Grad]) VALUES (4, N'Srbija', N'Nis')
SET IDENTITY_INSERT [dbo].[Stanica] OFF
GO
SET IDENTITY_INSERT [dbo].[Voz] ON 

INSERT [dbo].[Voz] ([VozID], [BrojMesta], [BrojSlobodnihMesta]) VALUES (2, 200, 0)
INSERT [dbo].[Voz] ([VozID], [BrojMesta], [BrojSlobodnihMesta]) VALUES (3, 300, 99)
INSERT [dbo].[Voz] ([VozID], [BrojMesta], [BrojSlobodnihMesta]) VALUES (4, 500, 298)
SET IDENTITY_INSERT [dbo].[Voz] OFF
GO
ALTER TABLE [dbo].[DodatnaStanica]  WITH CHECK ADD  CONSTRAINT [FK_DodatnaStanica_RedVoznje] FOREIGN KEY([RedVoznjeID])
REFERENCES [dbo].[RedVoznje] ([RedVoznjeID])
GO
ALTER TABLE [dbo].[DodatnaStanica] CHECK CONSTRAINT [FK_DodatnaStanica_RedVoznje]
GO
ALTER TABLE [dbo].[DodatnaStanica]  WITH CHECK ADD  CONSTRAINT [FK_DodatnaStanica_Stanica] FOREIGN KEY([StanicaID])
REFERENCES [dbo].[Stanica] ([StanicaID])
GO
ALTER TABLE [dbo].[DodatnaStanica] CHECK CONSTRAINT [FK_DodatnaStanica_Stanica]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [FK_Korisnik_Stanica] FOREIGN KEY([StanicaID])
REFERENCES [dbo].[Stanica] ([StanicaID])
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [FK_Korisnik_Stanica]
GO
ALTER TABLE [dbo].[RedVoznje]  WITH CHECK ADD  CONSTRAINT [FK_RedVoznje_Stanica] FOREIGN KEY([PolazakID])
REFERENCES [dbo].[Stanica] ([StanicaID])
GO
ALTER TABLE [dbo].[RedVoznje] CHECK CONSTRAINT [FK_RedVoznje_Stanica]
GO
ALTER TABLE [dbo].[RedVoznje]  WITH CHECK ADD  CONSTRAINT [FK_RedVoznje_Stanica2] FOREIGN KEY([OdredisteID])
REFERENCES [dbo].[Stanica] ([StanicaID])
GO
ALTER TABLE [dbo].[RedVoznje] CHECK CONSTRAINT [FK_RedVoznje_Stanica2]
GO
ALTER TABLE [dbo].[RedVoznje]  WITH CHECK ADD  CONSTRAINT [FK_RedVoznje_Voz] FOREIGN KEY([VozID])
REFERENCES [dbo].[Voz] ([VozID])
GO
ALTER TABLE [dbo].[RedVoznje] CHECK CONSTRAINT [FK_RedVoznje_Voz]
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
GO
ALTER TABLE [dbo].[Rezervacija] CHECK CONSTRAINT [FK_Rezervacija_Korisnik]
GO
USE [master]
GO
