@{
    ViewBag.Title = "Contact";
}
<br />
<br />

<div class="row" style="text-align:center">
    <h2>Kontaktirajte nas</h2>
    <p>Slobodno nam se obratite za svaki problem koji imate. Tu smo da pomognemo!</p>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-6" style="text-align:center">
        <h2>Informacije</h2>
        <p>Pozovite nas kako bi ste dobili detaljnije informacije i odgovore na Vaša pitanja</p>
        <br />
        <br />
        <h4>Savski nasip 7</h4>
        <br />
        <h4>11070 Novi Beograd</h4>
        <br />
        <h4> +381 011 25 36 89</h4>
        <br />
        <br />
        <p>Za sva dodatna pitanja možete nam se obratiti na e-mail adresu rezervacija@karte.com</p>
    </div>
    <div class="col-md-6" style="text-align:center">
        <h2>Kako do nas?</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.9647522871187!2d20.417206812298904!3d44.801906970950085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a6fed775da59b%3A0xb523201fb055943a!2z0KHQsNCy0YHQutC4INC90LDRgdC40L8gNywg0JHQtdC-0LPRgNCw0LQgMTEwNzA!5e0!3m2!1ssr!2srs!4v1688774792877!5m2!1ssr!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>